[ArchivesSpace]
baseurl = http://localhost:8089
repository = 2
username = admin
password = admin

[ImageServer]
imageurl = http://images.rockarch.org

[S3]
bucketname = rac-iiif
aws_access_key_id = 123456789
aws_secret_access_key = 987654321
region_name = us-east-1
