ArchivesSnake==0.9
boto3==1.16.8
iiif-prezi==0.3.0
img2pdf==0.4.0
ocrmypdf==11.3.3
Pillow==8.0.1
pytest==4.3.0
shortuuid==1.0.1
vcrpy==4.1.0
git+https://github.com/IIIF/prezi-2-to-3@6fb21e0643e47e7fb9cbf8468d5bfa0de258aa13
